/* 
@import indica al navegador que debe descargar cierta Hoja de estilos desde el CSS
Desde este import cargamos el CSS de google fonts para las fuentes que seleccionamos
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

h1{
    /* 
    Propiedades de fuente/texto
    */
    color: #2525ce; /* Cambiar el color de un texto */
    font-size: 26px;/* Tamaño de la fuente */
    /* letter-spacing: 40px;  *//* Espaciado entre letras */
    /* word-spacing: 40px; *//* Espaciado entre palabras */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    /* text-decoration: underline solid 10px rgb(255, 5, 5); */
    background-color: black;
    text-shadow: 0px 0px 3px rgb(140, 140, 140);
    font-style: italic; /* Podemos hacer italica a una fuente */

    width: 100px;
}


p{
    font-size: 12px;
    text-align: justify; /* Nos permite alinear el texto */
    /* line-height: 36px; */ /* Interlineado (altura de reglon */
    font-weight: 300;
}

/* 
font-weight nos permite definir que tan negrita es una fuente
OJO, las opciones disponibles de valores suelen ser de 100 en 100
PERO quien define realmente cuantas variantes de peso tenes disponibles es la misma fuente
*/

a{
    text-decoration: none;
    color:black;
    background-color: rgb(216, 182, 249);
    
    display: inline-block;
  /*   width: 50px;
    height: 60px; */
}


/* 
Clase que viene:
Box modeling
- padding
- margin
- box sizing
- border-radius
- box-shadow

Flexbox

Sig:
Position

Sig:
Responsive

Practica real con el profe
TP Intermedio de HTML y CSS (Entregable Y Obligatorio) Tiene recuperatorio
*/

/* 
Naturalmente todos los elementos se pueden categorizar en:

- inline:
    - Se pueden alinear si el ancho restante lo permite
    - ocupan solo su contenido
    - NO se puede modificar sus dimensiones
    ej: a
- block:
    - No se alinean, ocupan todo el bloque
    - Se pueden modificar las dimensiones
    ej:
        - h1...h6, li, ul, ol, div, (cualquier tag semantico), form
- inline-block:
    - Se pueden alinear si el ancho restante lo permite
    - Se pueden modificar las dimensiones
*/


button{
    width: 100px;
    height: 50px;
}

.btn{
    display: inline-block;


    border-radius: 5px;
    background-color: #2525ce;
    text-align: center;
    color: white;
    padding: 5px;
    border: 1px solid black;
}