/* 
@import indica al navegador que debe descargar cierta Hoja de estilos desde el CSS
Desde este import cargamos el CSS de google fonts para las fuentes que seleccionamos
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

h1{
    /* 
    Propiedades de fuente/texto
    */
    color: #2525ce; /* Cambiar el color de un texto */
    font-size: 26px;/* Tamaño de la fuente */
    /* letter-spacing: 40px;  *//* Espaciado entre letras */
    /* word-spacing: 40px; *//* Espaciado entre palabras */
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;

}


p{
    font-size: 12px;
    text-align: justify; /* Nos permite alinear el texto */
    /* line-height: 36px; */ /* Interlineado (altura de reglon */
    font-weight: 300;
}

/* 
font-weight nos permite definir que tan negrita es una fuente
OJO, las opciones disponibles de valores suelen ser de 100 en 100
PERO quien define realmente cuantas variantes de peso tenes disponibles es la misma fuente
*/