/* 
Cascade Style Sheet (CSS)

con h1{} seleccionamos a todos los h1 de mi pagina, dentro de las llaves definimos que estilos afectaran a ese selector
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: red;
    background-color: black;
    text-align: center;
}

.titulo-especial{
    color: blue;
    text-align: left;
    background-color: black;
    font-size: 36px;
}

.titulo-grande{
    font-size: 52px;
}

.titulo-normal{
    font-size: 36px;
}

.titulo-chiquito{
    font-size: 24px;
}


/* 
CSS Es un lenguaje que usamos para dar estilos a los elementos de la web
CSS es un lenguaje que funciona con selectores
Los selectores nos permiten seleccionar grupos de elementos 

- Universales: *, todos los elementos de la pagina
- De elemento: se llama por el mismo nombre del elemento y selecciona a ese elemento.
- De clase: . + nombre de clase, selecciona a los elementos de x clase.
- De id: # + nombre de id, selecciona a un elemento por id (MALA PRACTICA)
*/

/* Selecciono a todos los parrafos */
p{
    font-size: 14px;
}


#especial{
    color: red;
}

/* 
Especificidad: 

Mientras mas especifico es un selector mas importancia tendra este selector

(+) especificidad
- id
- clase
- elemento
- universal
(-) especificidad

Si un selector disputa una propiedad/varias con otro primero se evualara la especificidad de cada selector, si uno resulta mas especifico que el otro entonces tendra mas importancia

SI la especificidad de los selectores es LA MISMA quien desempata que propiedad es mas importante que otra es la cascada
Basicamente el ultimo en definir tiene mas importancia
*/


button{
    color: yellow;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}


.btn{
    background-color: aqua;
}